*
*.*
/*

!.gitignore
!Module1.vhd
!nios_system.qsys
!pixel_drawer.vhd
!pixel_drawer_hw.tcl
!\software\Project_1_Code\Headers\*
!\software\Project_1_Code\Source\*
!\software\Project_1_Code\entryPoint.c